<!DOCTYPE html>
<html>
<head>
  <title>Pixelpets</title>
  <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<div id="logo">
			<%= image_tag 'logo.png' %>
		</div>
		<div id="Title">
			<h1>Pixel Pets</h1>
		</div>
	</nav>



<%= yield %>

</body>
</html>
